.accordion {
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

.accordionHeading {
    background-color: #6b705c;
    padding: 10px;
    width: 90%;
}

.accordionHeading .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordionHeading span {
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
}

.container_accordion {
    width: 100%;
}

.accordionHeading p {
    letter-spacing: 1.2px;
    font-weight: 600;
}

.accordionContent {
    background-color: #fff1e6;
    height: 0;
    opacity: 0;
    display: flex;
    width: 90%;
    transition: all 600ms ease-in-out;
}

.accordionContent p {
    font-size: 15px;
    line-height: 1.6;
    padding: 0 20px;
    text-align: center;
}

.accordionContent.show {
    height: 60px;
    overflow: auto;
    width: 90%;
    opacity: 1;
}

.btn_delete {
    position: absolute;
    right: 0;
    top: 0;
}

.btn {
    padding: 5px;
    cursor: pointer;
}