.home {
    position: relative;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.container_err {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}

.error {
    color: #3f37c9;
    text-transform: uppercase;
    font-size: 40px;
}

.error_details {
    text-transform: uppercase;
    text-align: center;
}